# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Mac OS / Windows
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# mypy
.mypy_cache/

# pyre
.pyre/
